{% extends 'base.html' %}
{% block head %}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.min.css" >

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap-theme.min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap3/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
            {% if paginator.count > 0 %}
            {% for order in page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.odata }}</li>
					<li class="col02">订单号：{{ order.oid }}</li>
					<li class="col02 stress">
                        {% if order.oIsPay == 0 %} 未支付 {% else %} 已支付 {% endif %}
                    </li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for detail in order.orderdetailinfo_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ detail.goods.gpic }}"></li>
									<li class="col02"><a target="_blank" href="/detail_{{ detail.goods.id }}"> {{ detail.goods.gtitle }}</a><em>{{ detail.goods.gprice }}元/{{ detail.goods.gunit }}</em></li>
									<li class="col03">{{ detail.count }}</li>
									<li class="col04">{{ detail.price }}元</li>
								</ul>
                                {% endfor %}

							</td>
							<td width="15%">{{ order.ototal }}元</td>
							<td width="15%">{% if order.oIsPay == 0 %} 待付款 {% else %} 已付款 {% endif %}</td>
							<td width="15%">
                            {% if order.oIsPay == 0 %}
                                <a href="/order/pay/?oid={{ order.oid }}" class="oper_btn">去付款</a>
                            {% else %}
                                <a href="#" class="oper_btn">查看物流</a>
                            {% endif %}</td>
						</tr>
					</tbody>
				</table>
                {% endfor %}
				{% endif %}


				<ul class="pagination">
                    {% if page.has_previous %}
					<li><a href="/user/order/?p={{ page.previous_page_number }}">上一页</a></li>
                    {% endif %}
                    {% for pindex in paginator.page_range %}
					<li class="{% if pindex == page.number %} active {% endif %}"><a href="/user/order/?p={{ pindex }}">{{ pindex }}</a></li>
					{% endfor %}
                    {% if page.has_next %}
					<li><a href="/user/order/?p={{ page.next_page_number }}">下一页</a></li>
                    {% endif %}
				</ul>
		</div>
	</div>


{% endblock body %}